body {
    font-family: "Lemonada", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;

}

.headerGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 15px;
}

.icon {
    width: 22px;
    margin-right: 25px;
}

.user {
    margin-right: 25px;

}

.links li a {
    text-decoration: none;
    color: black;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 45px;

    li {
        list-style: none;
    }
}

.formsGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 50px;
    gap: 20px;
}

select {
    width: 20%;
    height: 34px;
    border-radius: 10px;
    padding: 6px 25px;
    position: relative;
}

.active {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #73C7C7;
    color: black;
    cursor: pointer;
}

.location {
    position: absolute;
    margin-left: 4px;
}

.searchG {
    width: 100%;
    position: relative;


}

input {
    width: 100%;
    height: 34px;
    border-radius: 10px;
    position: relative;
    padding: 10px;
}

.search {
    position: absolute;
    right: 3px;
    margin: 3px;
}

.searchButton {
    padding: 10px 45px;
    border-radius: 6px;
    background-color: #008080;
    color: white;
    border: none;
}

.line {
    position: relative;
    margin: 54px 180px 50px 180px;
}

.one {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #008080;
    color: white;
    text-align: center;
    border-radius: 50%;
    bottom: -27px;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.two {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #008080;
    color: white;

    text-align: center;
    border-radius: 50%;
    bottom: -27px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.three {
    position: absolute;
    width: 30px;
    height: 30px;
   border: 1px solid #92959b;
    color: #92959b;
    text-align: center;
    border-radius: 50%;
    bottom: -27px;
    left: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name,
.email-gender,
.pass-con {
    display: flex;
    text-align: start;
    justify-content: space-between;
    margin: 20px 0px;
    gap: 40px;
}

.first-name,
.sur-name,
.mail,
.gender,
.password,
.confirm-password {
    width: 100%;
}

input {
    margin: 10px 0px;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 2px solid #a09c9c;
    padding-left: 12px;
}

.inputAdd {
    margin: 10px 0px;
    width: 100%;
    height: 60px;
    border-radius: 8px;
    border: 2px solid #a09c9c;
    padding-left: 28px;
    color: #959595;
}

.input {
    position: relative;
}

.fa-location-dot {
    top: 30px;

}

.fa-user-pen,
.fa-envelope,
.fa-user,
.fa-lock,
.fa-phone,
.fa-eye-slash,
.fa-location-dot {
    color: #959595;
    position: absolute;
    z-index: 10;
    top: 34px;
    padding-left: 10px;
}

.fa-eye-slash {
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 10px;
}


input::placeholder {
    padding-left: 20px;
}

.breadcrumb {
    padding: 25px;


}

.breadcrumb a {
    text-decoration: none;
    font-size: 25px;
    padding: 5px;
    color: black;
}

.breadcrumb .home {
    color: gray;
}

.breadcrumb i {
    font-size: 25px;
}

.breadcrumb .home:focus {
    color: gray;
}

.breadcrumb .about {
    color: #008080;
    font-size: 25px;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 40px;
    background-color: #008080;
    color: white;
}

.footer ul li {
    list-style-type: none;
    padding: 10px;
}

.footer ul li a {
    text-decoration: none;
    color: white;


}

.footer i {
    padding-top: 30px;
    padding-left: 10px;
    font-size: 20px;
}

.container {

    width: 50%;
    margin: auto;
    padding: 20px;
}

.container h2 {
    color: #008080;
}

.container input {
    border-radius: 10px;
    padding-left: 10px;
}

.row .input {
    width: 310px;
    height: 30px;
    margin: 15px;
}

.row .label {
    margin: 20px;
    font-size: 20px;
}

.fa-circle-dot {
    color: #008080;
}

.form {
    box-shadow: 0px 3px 11px 4px #BFBFBF;
    border-radius: 15px;
    width: 100%;
    padding: 20px 60px;
}

.form .check {
    margin: 20px;
    color: black;
    font-size: 25px !important;
}

.Address {
    margin: auto;

}

.Address label {
    display: block;
    margin-left: 15px;
}

.Address input {
    margin: 15px;
    height: 30px;
    width: 92%;
}

.row {
    display: flex;
}

.btns {
    margin: 15px;

}

.btn1 {
    width: 30%;
    height: 60px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    font-size: 20px;
    font-family: "Lemonada", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    border: 2px solid #BFBFBF;
}

.btn1:hover {
    background-color: gray;
    color: white;
}

.btn2:hover {
    background-color: white;
    color: #008080;
    border: 2px solid #008080;
}

.btn2 {
    width: 64%;
    height: 60px;
    border: none;
    background-color: #008080;
    color: white;
    margin-left: 20px;
    border-radius: 5px;
    font-size: 20px;
    font-family: "Lemonada", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 80px;
    background: url('../images/Frame\ 1261156057.png');
    color: #008080;
}

.header,
.ul {
    margin: 25px 0px;
}

.ways {
    text-align: center;
    margin-top: 100px;
}

.ways .other {
    margin: 40px 0px;
}

.ways .cards-contact {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 0px;
}

.ways .cards-contact .card {
    padding: 10px 20px;
    text-align: start;
    border-radius: 15.03px;
    border: 1px solid #115573;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 229px;
}

.ways .cards-contact .card .mail {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ways .cards-contact .card .mail .cardEmail {
    margin: 20px 0px;
}

.ways .cards-contact .card .gmail {
    margin: 5px 0px;
    color: rgba(0, 0, 0, 0.55);
    text-decoration: underline;
}

.ways .cards-contact .active {
    padding: 10px 20px;
    text-align: start;
    border-radius: 15.03px;
    border: 1px solid #92959b;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 229px;
}

.contactButton {
    background-color: #115573;
    border-radius: 12.03px;
    margin: 15px 0px;
    height: 50px;
    color: white;
    border: none;
    font-weight: bold;
}

.circles {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 25px;
    font-size: 10px;

}

.icons-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0px;
}

@media (max-width : 768px) {
    .menu {
        display: block;
    }

    .headerGroup {
        img {
            width: 50px;
        }

        .links {
            gap: 10px;
            font-size: 14px;
        }

        .icons {
            display: none;

            img {
                width: 20px;
            }
        }
    }

    .contactHead {
        font-size: 22px;
    }

    .contactUs {
        padding: 0px 35px;
    }

    .contactUs .Contact-img .con {
        width: 100%;
    }

    .name {
        flex-direction: column;
    }

    .footer {
        font-size: 10px;
        padding: 20px;

        .logo {
            width: 70px;
            padding: 10px;
            display:none ;

            img {
                width: 100%;
            }
        }
    }
}